/*main content tab*/

#main {
    margin: 25px 0;
    background: #F7F7F8;
}

#main .thread-tab>input {
    display: none;
}

#main .thread-tab>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 7px 15px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid transparent;
}

.create-thread-btn {
    background-color: rgb(12, 128, 29) !important;
}



#main .thread-tab>label {
    margin-right: 1px;
}

#main .thread-tab>input:checked+label {
    color: #fff;
    background-color: #777;
}

#main .thread-tab>input:hover+label {
    background-color: #777;
    color: #fff;
    cursor: pointer;
}


#tab:checked~#content,

.question-type {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 13px -3px #777;
    box-shadow: 0px 0px 13px -3px #777;
}


.left-user-repeat {
    margin-top: 18px;
}

.left-user .fa-check {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: green;
}

.left-user .fa-times {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: red;
}

.left-user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#que-hedder h3 {
    text-decoration: none;
    color: #222629;
}

#que-hedder h3:hover {
    text-decoration: none;
    color: #FF7361;
}

#que-hedder a {
    text-decoration: none;
    color: #222629;
}

#que-hedder a:hover {
    text-decoration: none;
    color: #FF7361;
}

.ques-details {
    margin-top: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.q-type {
    margin-top: 23px;
    background-color: #FF7361;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    color: #fff;
    border-radius: 15px;
}



.button-ques:hover {
    background-color: #222629;
}


.ques-details p {
    margin-top: 10px;
    font-family: fontawesome;
}

.ques-icon-info {
    font-size: 13px;
    font-weight: bold;

}

.ques-icon-info span {
    margin-right: 25px;
}

.ques-icon-info .fa-check {
    color: green;
}



.ques-icon-info .fa-clock-o {
    color: #222629;
}

.ques-icon-info .comment {
    color: #222629;
}

.ques-icon-info .comment:hover {
    color: #FF7361;
}

.ques-icon-info .fa-user-circle-o {
    color: #222629;
}

.ques-icon-info .fa-question-circle-o {
    color: #222629;
}

.ques-icon-info .fa-bug {
    color: #222629;
}

.ques-icon-info .check-color329 {
    color: red;
}

.two-part3280 {
    margin-top: 30px;
}

#thread-content {
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.sidebar-thread{
    margin-top: 86px;
}

.status-part {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 13px -3px;
            box-shadow: 0px 0px 13px -3px;
}

.status-part h4 {
    color: #FF7361;
    font-weight: bold;
    font-family: serif;
    border-bottom: 2px solid #eaeaeb;
    padding-bottom: 10px;
}

.status-part .i {
    background-color: #EAEAEB;
    padding: 15px 123px 15px 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

/*----start tags part----*/

.tags-part {
    background-color: #fff;
    padding: 15px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 13px -3px;
            box-shadow: 0px 0px 13px -3px;
}

.tags-part h4 {
    color: #FF7361;
    font-weight: bold;
    font-family: serif;
    border-bottom: 2px solid #eaeaeb;
    padding-bottom: 10px;
}

.highest-part {
    background-color: #fff;
    padding: 15px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 13px -3px;
            box-shadow: 0px 0px 13px -3px;
}

.highest-part h4 {
    color: #FF7361;
    font-weight: bold;
    font-family: serif;
    border-bottom: 2px solid #eaeaeb;
    padding-bottom: 10px;
}

.user-highest-point {
    position: relative;
}

.user-highest-point img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.user-highest-point:hover .imag-overlay39 {
    opacity: 1;
}

.user-highest-point {
    float: left;
    margin-right: 30px;
}


.points-details p {
    font-family: fontawesome;
}

.points-details h5 {
    color: #fd7362;
    font-weight: bold;
    text-decoration: none;
}

.points-details a {
    text-decoration: none;
    color: #fff;
}
.designetion {
    padding: 3px;
    background-color: #DD9933;
    color: #fff;
    font-family: fontawesome;
    border-radius: 2px;
}