.css-1ui3wbn-MuiInputBase-root-MuiTablePagination-select {
    max-width: 60px !important;
}

.css-s7qg2b-MuiTablePagination-displayedRows {
    padding-top: 12px !important;
}
.css-rroo7h-MuiTablePagination-selectLabel{
    padding-top: 10px !important;
    padding-right: 5px !important;
}
.css-74bi4q-MuiDataGrid-overlayWrapper {
    height: 60px !important;
}



